{% extends 'base.html' %}
{% load staticfiles %}
{% block blog_post %}
    <div class="col-md-3">
        <img width="120px" class="img img-circle" src="{% static 'images/amogh.jpeg' %}">
    </div>
    <div class="col-md-8">
        <h1 style="margin-top:35px">Amogh</h1>
    </div>
    <div class="col-md-12">
        <p>Im a computer geek and a startup freak. Bascially I love coding using Python and Javascript, which makes me a full stack developer.
            I live in heart of IT hub of India, Bangalore
            <br />I Hold a Master's degree in Computer Networking from University Visvesvaraya College of Engineering(UVCE)
            <br />Thank you for visiting my Blog!!
        </p>
    </div>
    <div class="row" >
        <div class="col-md-12">
        <div class="col-md-2">
            <i class="fa fa-globe">&nbsp; India</i>
        </div>
        <div class="col-md-3">
            <i class="fa fa-heart">&nbsp; JS, Python</i>
        </div>
        <div class="col-md-3">
            <i class="fa fa-git">&nbsp; acamogh</i>
        </div>
        <div class="col-md-4">
            <i class="fa fa-linkedin">&nbsp; Amogh Angadi</i>
        </div>
        </div>

    </div>
{% endblock %}