{% extends 'base.html' %}
{% load staticfiles %}

{% block blog_post %}
    <div class="blog-post">

        <p class="blog-post-title">{{ posts.title }}</p>
        <p class="blog-post-meta"><i class="fa fa-clock-o">&nbsp {{ posts.pub_date|date  }}</i> </p>
        {{ posts.description|linebreaks }}


        <hr />
        <div class="row">
        <a href="{% url 'edit_post' posts.id %}" class="btn btn-warning" role="button"><i class="fa fa-pencil"></i>&nbsp Edit</a>


            <form class="col-xs-2" method="POST" action="{% url 'delete_post' id=posts.id %}">{% csrf_token %}
               <button type="submit" class="btn btn-danger"> <i class="fa fa-minus-circle"></i>&nbsp Delete</button>
            </form>
        </div>


    </div><!-- /.blog-post -->
{% endblock %}
